<% @title="Login" %>

<div class="container">
  <br>

  <% if flash[:alert] %>
  <div id="notice" class="alert alert-info" role="alert"><%= flash[:alert] %></div>
  <% end %>

  <div class="row">
    <div class="col-md-6">
      <%= link_to image_tag("logo.png", :size => "131x60", :alt => "CORS logo"), root_path %>
      <p></p>
      <h1>Welcome to</h1>
      <h1>CORS</h1>
    </div>

    <div class="col-md-6">
      <h2>Please login to continue</h2>
      <%= form_tag('/login') do %>
      <fieldset>
        <div class="form-group">
          <%= label_tag :matricNo, 'Matric No:' %>
          <%= text_field_tag :matricNo, params[:matricNo], class: "form-control", placeholder: "User ID. E.g. E1234567"  %>
        </div>

        <div class="form-group">
          <%= label_tag :password, 'Password:' %>
          <%= password_field_tag :password, params[:password], class: "form-control", placeholder: "Password" %>
        </div>

        <div class="form-group">
          <%= submit_tag "Login", class: "btn btn-primary" %>
        </div>
      </fieldset>
      <% end %>
    </div>
  </div>
</div>
