<%= javascript_include_tag 'docs_view' %>
<div class="container">
  <br>
  <h1><u>Help</u> for Step 2 of 2: Ranking your tutorial slots choices</h1>
  <p>Select your platform:</p>

  <div id="accordion">
    <h2>Desktop</h2>
    <div>

      <br>
      <h3>Overview</h3>
      <%= create_help_images("docs/step2_01.png") %><br>
      <p>
      	In step 2, rank the tutorial slots which you have selected in the previous step,
      	by dragging and placing the options on the left column onto their respective positions
      	in top-to-bottom descending order, with "1" being the <b>highest</b> rank.
      </p>
      <p>
      	The ranks will be updated each time an option is placed, under the "#" heading on the left.
      </p>

      <br>
      <h3>Your timetable preview</h3>
      <p>
      	The timetable preview on the right column shows all of your selected tutorial slots.
      	As your rank your tutorial slots, the top-right corner of each slot
      	in the timetable will be updated with the slot's current rank number.
      </p>
      <%= create_help_images("docs/step2_02.png") %><br>
      <ul>
      	<li>Orange slots indicate <i>lecture</i> slots.</li>
      	<li>Blue slots indicate the tutorial slot being highlighted.</li>
      </ul>

      <br>
      <h3>Finishing step 2</h3>
      <p>
      	Once you are satisfied with your tutorial slots rankings,
      	click on the "Save" button to save your preferences.
      </p>
      <p>
      	This completes your tutorial balloting registration.
      	You may still edit your choices anytime before the system closes.
      </p>
      <%= create_help_images("docs/step2_03.png") %><br>

    </div>

    <h2>Mobile</h2>
    <div>

      <br>
      <h3>Overview</h3>
      <%= create_help_images("docs/mobile/mobile_step2_01.png") %><br>
      <p>
      	In step 2, rank the tutorial slots which you have selected in the previous step,
        by tapping the up/down buttons located at the left side of the corresponding
        tutorial slots, in order to move the slot up or down the list.
      </p>
      <p>
      	As you move the tutorial slots, the rankings (which is under the "#" heading
        on the left) will be updated accordingly, with "1" being the <b>highest</b> rank.
      </p>
      <%= create_help_images("docs/mobile/mobile_step2_02.png") %><br>

      <br>
      <h3>Your timetable preview</h3>
      <p>
      	The timetable preview on the bottom shows all of your selected tutorial slots.
      	As your rank your tutorial slots, the top-right corner of each slot
      	in the timetable will be updated with the slot's current rank number.
      </p>
      <p>
        If the timetable preview is too cluttered for you, you may choose
        to hide the timetable by deselecting the checkbox "Show timetable".
      </p>
      <%= create_help_images("docs/mobile/mobile_step2_03.png") %><br>
      <%= create_help_images("docs/mobile/mobile_step2_04.png") %><br>
      <p>
        To reveal the timetable again, select the checkbox again.
      </p>
      <%= create_help_images("docs/mobile/mobile_step2_05.png") %><br>
      <ul>
      	<li>Orange slots indicate <i>lecture</i> slots.</li>
      	<li>Blue slots indicate the tutorial slot being highlighted.</li>
      </ul>

      <br>
      <h3>Finishing step 2</h3>
      <p>
      	Once you are satisfied with your tutorial slots rankings,
      	tap on the "Save" button to save your preferences.
      </p>
      <p>
      	This completes your tutorial balloting registration.
      	You may still edit your choices anytime before the system closes.
      </p>
      <%= create_help_images("docs/mobile/mobile_step2_06.png") %><br>
    </div>
  </div>
</div>
