<div class="container">
  <br>
  <h1>Step 1 of 2: Selecting tutorial slots to ballot</h1>

  <h2>Desktop</h2>

  <br>
  <h3>Overview</h3>
  <%= create_help_images("docs/step1_01.png") %><br>
  <p>
  	In step 1, select the tutorial slots that you wish to ballot for,
  	by clicking on the corresponding boxes on the left column.
  </p>
  <p>
    Selected slots will turn green and show up on the timetable preview.
  	You will rank your selected options in the next step.
  </p>

  <br>
  <h3>Show slots that clashes with lectures</h3>
  <p>
  	When the checkbox "Show slots that clashes with lectures" is selected,
  	such non-selectable clashing tutorial slots will be shown in red.
  </p>
  <%= create_help_images("docs/step1_02.png") %><br>
  <p>
  	These tutorial slots may not be selected as they clash with your <i>lecture</i> slots.
  	You may deselect this checkbox to hide non-selectable tutorial slots and reduce clutter.
  </p>

  <br>
  <h3>Your timetable preview</h3>
  <%= create_help_images("docs/step1_03.png") %><br>
  <p>
  	When you hover your cursor over the tutorial slot options,
  	these slots will appear in your timetable preview on the right column.
  </p>
  <p>
  	Use this visualisation to make informed choices for your balloting needs.
  </p>
  <%= create_help_images("docs/step1_04.png") %><br>
  <ul>
  	<li>Orange slots indicate <i>lecture</i> slots.</li>
  	<li>Red slots indicate non-selectable tutorial slots that clashed with a <i>lecture</i>.</li>
  	<li>Blue slots indicate the tutorial slot being highlighted.</li>
  </ul>

  <br>
  <h3>Finishing step 1</h3>
  <p>
  	When you have selected all your preferred tutorial slots to ballot for,
  	proceed on to step 2 by clicking on the "Next" button at the top.
  </p>
  <%= create_help_images("docs/step1_05.png") %>
</div>
