<div class="container">
  <%= javascript_include_tag 'tutorials_rank' %>
  <h1>Tutorials Selection (Step 2 of 2)</h1>

  <div class="row">
    <div class="col-md-6 main-content">
      <%= link_to 'Balloting Tips', "../docs/tut_ballot_tips", target: :_blank, class: "btn btn-info" %>
      <%= link_to 'Help', "../docs/tut_step2", target: :_blank, class: "btn btn-info" %>
      <hr>

      <%= form_tag('rank_save', method: :post) do %>
        <p>Rank your preferences.
              <%= hidden_field_tag 'preferences' %>
              <%= submit_tag "Save", id: "save", class:"btn btn-primary" %>
        </p>
      <% end %>

      <table class="table" id="tutorial-list">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
          <% @user.user_tutorial_selections.sort_by(&:rank).each do |selection| %>
          <tr selectionid="<%= selection.id %>" tutorialid="<%= selection.tutorial.id %>">
            <th scope="row">
              <span class="rank_num">###RANK###</span>
              <br><div class="btn btn-secondary move-up hidden-sm-down">/\</div>
              <br><div class="btn btn-secondary move-down hidden-sm-down">\/</div>
            </th>
            <td><%= selection.tutorial.course.code %></td>
            <td>Tutorial (<%= selection.tutorial.group_number %>)</td>
            <td colspan="2">
              <table class="inner-table">
                <tbody class="not-sortable">
                  <tr>
                    <td>
                      <%= getDay(selection.tutorial.day) %>
                      <% if selection.tutorial.odd? %>
                        <br>(Odd Week)
                      <% elsif selection.tutorial.even? %>
                        <br>(Even Week)
                      <% end %>
                    </td>
                    <td>
                      <%= getHourAndMin(selection.tutorial.start_time) %> -
                      <%= getHourAndMin(selection.tutorial.end_time) %>
                    </td>
                  </tr>
                  <% if selection.tutorial.has_second_tutorial? %>
                    <tr>
                      <td>
                        <%= getDay(selection.tutorial.second_day) %>
                      </td>
                      <td>
                        <%= getHourAndMin(selection.tutorial.second_start_time) %> -
                        <%= getHourAndMin(selection.tutorial.second_end_time) %>
                      </td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6" id="timetable-preview">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable' %>
      <%= render 'layouts/timetable-js/add_user_lectures' %>
      <%= render 'layouts/timetable-js/add_user_tutorials' %>
    </div>
  </div>

  <%= render 'layouts/mobile_timetable_space' %>
</div>
