<div class="container">
  <%= javascript_include_tag 'tutorials_rank' %>
  <h1>Tutorials Selection (Step 2 of 2)</h1>

  <div class="row">
    <p>Rank your preferences.
      <%= form_tag('rank_save', method: :post) do %>
          <%= hidden_field_tag 'preferences' %>
          <%= submit_tag "Save", id: "save", class:"btn btn-primary" %>
      <% end %>
    </p>
  </div>

  <div class="row">
    <div class="col-md-6">
      <table class="table" id="tutorial-list">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>

        <tbody>
          <% @user.user_tutorial_selections.sort_by(&:rank).each do |selection| %>
          <tr selectionid="<%= selection.id %>">
            <th scope="row">###</th>
            <td><%= selection.tutorial.course.code %></td>
            <td>Tutorial</td>
            <td><%= getDay(selection.tutorial.day) %></td>
            <td><%= getHourAndMin(selection.tutorial.start_time) %>
                  - <%= getHourAndMin(selection.tutorial.end_time) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>

    <div class="col-md-6">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable_preview' %>
    </div>
  </div>
</div>
