<div class="container">
  <h1>Tutorials Selection (Step 1 of 2)</h1>

  <div class="row">
    <div class="col-md-6">
      <p>Select slots that you wish to ballot.
        <%= hidden_field_tag 'preferences_select', '_' %>
        <a href="rank" class="btn btn-primary">Next</a>
      </p>
    </div>

    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input type="checkbox" checked>
          Show slots that clashes with lectures
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <% @user.courses.each do |c| %>
      <h2><%= c.name %></h2>
      <div class="card-columns">
        <% c.tutorials.each do |tut| %>
        <div id="card-<%= tut.id %>" class="card text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>
              <%= getDay(tut.day) %> 
              <%= getHourAndMin(tut.start_time) %> - 
              <%= getHourAndMin(tut.end_time) %>
              </p>
            </blockquote>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable_preview' %>
    </div>
  </div>

</div>

<%= javascript_tag do %>

  //
  // init all possible tutorials
  //
  <% @user.courses.each do |c| %>
    <% c.tutorials.each do |tut| %>

      // save the id into the element
      $("#card-<%= tut.id %>").data("periodId", <%= tut.id %>);

      TimetablePreview().initPeriod(
        <%= tut.id %>,
        <%= tut.day %>,
        <%= getHourAndMinAsInt(tut.start_time) %>,
        <%= getHourAndMinAsInt(tut.end_time) %>,
        "<%= c.code %>",
        "<%= c.name %>",
        "Tutorial"
      );

    <% end %>
  <% end %>
  
  //
  // activate current selections
  //
  $(function() {
    <% @user.tutorials.each do |tut| %>
      $("#card-<%= tut.id %>").trigger("click");
    <% end %>
  });

<% end %>
