<div class="container">
  <%= javascript_include_tag 'tutorials_select' %>
  <h1>Tutorials Selection (Step 1 of 2)</h1>

  <div class="row">
    <div class="col-md-6">
      <%= form_tag('select_save', method: :post) do %>
        <p>Select slots that you wish to ballot.
        <%= hidden_field_tag 'preference_changes', '_' %>
        <%= submit_tag "Next", id: "save", class:"btn btn-primary" %>
        </p>
      <% end %>
    </div>

    <div class="col-md-6">
      <div class="checkbox">
        <label>
          <input id="clash-checkbox" type="checkbox" checked>
          Show slots that clashes with lectures
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="tutorial-options" class="col-md-6">
      <% @user.courses.each do |c| %>
      <h2><%= c.code %> - <%= c.name %></h2>
      <div class="card-columns">
        <% c.tutorials.each do |tut| %>
        <div tutorialid="<%= tut.id %>" class="card text-xs-center">
          <div class="card-block">
            <blockquote class="card-blockquote">
              <p>
              <%= getDay(tut.day) %>
              <%= getHourAndMin(tut.start_time) %> -
              <%= getHourAndMin(tut.end_time) %>
              <br>
              (<%= tut.group_number %>)
              </p>
            </blockquote>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>

    <div class="col-md-6">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable' %>
      <%= render 'layouts/timetable-js/add_user_lectures' %>
      <%= render 'layouts/timetable-js/add_user_tutorials' %>
      <%= render 'layouts/timetable-js/add_selectable_tutorials' %>
    </div>

  </div>
</div>

<%= javascript_tag do %> // show initial selections
  $(function() {
    <% @user.tutorials.each do |tut| %>
      $(".card[tutorialid='<%= tut.id %>']").addClass("selected");
    <% end %>
  });
<% end %>
