<h1>Tutorials Preferences (Main Page)</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>Your selected tutorial selection:</p>

      <%= button_to "Edit Selection", { action: "select" }, method: "get",
      class: "btn btn-primary" %>
      <br>

      <!-- TODO: Remove this list when ready to add logic -->
      <ol>
        <% @user.courses.each do |c| %>
        <li>
          <%= c.name %>
          <!-- Print out each individual lectures -->
          <ul>
            <% c.lectures.each do |lec|  %>
            <li>
              <%= getDay(lec.day) %>

              <%= lec.start_time %>
              to
              <%= lec.end_time %>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ol>


      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% row = 0 %>

          <% if @user.tutorials.size == 0 %>
          <tr>
            <td colspan="5">You did not select any preferences yet.</td>
          </tr>
          <% end %>

          <% @user.tutorials.each do |tut| %>
          <tr>
            <% row = row + 1 %>
            <th scope="row"><%= row %></th>
            <td><%= tut.course.code %></td>
            <td>Tutorial</td>
            <td><%= getDay(tut.day) %></td>
            <td><%= tut.start_time %> - <%= tut.end_time %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <% render 'layouts/timetable_preview' %>
    </div>
  </div>
</div>
