<div class="container">
  <%= javascript_include_tag 'tutorials_view' %>
  <h1>Tutorials Preferences (Main Page)</h1>

  <div class="row">
    <div class="col-md-6">
      <hr>

      <h2>Existing Tutorial Slots</h2>
      <p>Tutorial slots that you have successfully balloted in the previous round:</p>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="5">This is the first tutorial balloting round.</td>
          </tr>
        </tbody>
      </table>

      <hr>

      <h2>Tutorial slots for current round</h2>
      <%= form_tag('select', method: :get) do %>
        <p>Your selected tutorial selection:
        <%= submit_tag "Edit Selection", class: "btn btn-primary" %>
        </p>
      <% end %>

      <% if @user.user_tutorial_selections.exists?(rank: TutorialsController::NO_RANK) %>
        <div class="alert alert-danger" role="alert">
          <strong>You have not ranked some of your tutorial slots.</strong>
          They appear as '???' rank for those slots.
          If you do not rank them they will be randomly
          ranked lower when the system closes.

          <%= button_to "Rank Them Now", { action: "rank" }, method: "get",
          class: "btn btn-danger" %>
        </div>
      <% end %>

      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% if @user.tutorials.size == 0 %>
          <tr>
            <td colspan="5">You did not select any preferences yet.</td>
          </tr>
          <% end %>

          <% row = 1 %>
          <% @user.user_tutorial_selections.sort_by(&:rank).each do |selection| %>
          <tr tutorialid="<%= selection.tutorial.id %>">
            <th scope="row">
              <% if selection.rank == TutorialsController::NO_RANK %>
                ???
              <% else %>
                <%= row %>
                <% row = row + 1 %>
              <% end %>
            </th>
            <td><%= selection.tutorial.course.code %></td>
            <td>Tutorial (<%= selection.tutorial.group_number %>)</td>
            <td><%= getDay(selection.tutorial.day) %></td>
            <td><%= getHourAndMin(selection.tutorial.start_time) %>
                  - <%= getHourAndMin(selection.tutorial.end_time) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6" id="timetable-preview">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable' %>
      <%= render 'layouts/timetable-js/add_user_lectures' %>
      <%= render 'layouts/timetable-js/add_user_tutorials' %>
    </div>
  </div>
</div>
