<div class="container">
  <h1>Tutorials Preferences (Main Page)</h1>

  <div class="row">
    <div class="col-md-6">
      <p>Your selected tutorial selection:</p>

      <%= button_to "Edit Selection", { action: "select" }, method: "get",
      class: "btn btn-primary" %>
      <br>

      <!-- TODO: Remove this list when ready to add logic -->
      <ol>
        <% @user.courses.each do |c| %>
        <li>
          <%= c.name %>
          <!-- Print out each individual lectures -->
          <ul>
            <% c.lectures.each do |lec|  %>
            <li>
              <%= getDay(lec.day) %>

              <%= getHourAndMin(lec.start_time) %>
              to
              <%= getHourAndMin(lec.end_time) %>
            </li>
            <% end %>
          </ul>
        </li>
        <% end %>
      </ol>


      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Module</th>
            <th>Type</th>
            <th>Day</th>
            <th>Time</th>
          </tr>
        </thead>
        <tbody>
          <% if @user.tutorials.size == 0 %>
          <tr>
            <td colspan="5">You did not select any preferences yet.</td>
          </tr>
          <% end %>

          <% @user.user_tutorial_selections.sort_by(&:rank).each do |selection| %>
          <tr>
            <th scope="row"><%= selection.rank %></th>
            <td><%= selection.tutorial.course.code %></td>
            <td>Tutorial</td>
            <td><%= getDay(selection.tutorial.day) %></td>
            <td><%= getHourAndMin(selection.tutorial.start_time) %>
                  - <%= getHourAndMin(selection.tutorial.end_time) %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <div class="col-md-6">
      <h3>Timetable Preview</h3>
      <%= render 'layouts/timetable' %>
      <%= render 'layouts/timetable-js/init_user_courses' %>
      <%= render 'layouts/timetable-js/init_user_tutorials' %>
      <%= javascript_tag do %> Timetable().showAllPeriods(); <% end %>
    </div>
  </div>
</div>
