<div class="container">
  <h1>Viewing Course '<%= @edit_course.name %>'</h1>

  <!-- Info -->
  <h2>Basic Information</h2>
  <ul>
    <li><strong>Code:</strong> <%= @edit_course.code %></li>
    <li><strong>Name:</strong> <%= @edit_course.name %></li>
  </ul>

  <%= link_to 'Edit Course', edit_course_path(@edit_course), class: "btn btn-primary" %>

  <!-- Enrolled students -->
  <hr>
  <h2>Enrolled Students</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Matric Number</th>
        <th>(Actions)</th>
    </thead>

    <tbody>
      <% if @edit_enrolled.empty? %>
        <tr><td colspan="2">No students are enrolled into the course.</td></tr>
      <% else %>
        <% @edit_enrolled.each do |student| %>
          <tr>
            <td><%= student.matricNo %></td>
            <td><%= link_to 'Remove',
             { action: :remove_student, params: { student: student.id } },
             method: :post,
             class: "btn btn-danger",
             data: { confirm: 'Are you sure? WARNING: All tutorial slots for this student will be dropped!' } %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= form_tag({ action: :add_student, id: @edit_course.id }, method: :post) do %>
    Add student to course:
    <%= select_tag "student", options_from_collection_for_select(User.all, :id, :matricNo) %>
    <%= submit_tag "Add", class:"btn btn-primary" %>
  <% end %>

  <br>

  <!-- Lectures -->
  <hr>
  <h2>Lectures</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Group Number</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>(Actions)</th>
    </thead>

    <tbody>
      <% if @edit_course.lectures.empty? %>
        <tr><td colspan="5">There is no lecture for this course.</td></tr>
      <% else %>
        <% @edit_course.lectures.each do |lec| %>
          <tr>
            <td><%= lec.group_number %></td>
            <td><%= getDay(lec.day) %></td>
            <td><%= getHourAndMin(lec.start_time) %></td>
            <td><%= getHourAndMin(lec.end_time) %></td>
            <td>
              <%= link_to 'Edit', edit_lecture_path(lec), class: "btn btn-info" %>
              <%= link_to 'Remove', lec, class: "btn btn-danger" , method: :delete,
                data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Lecture Time',
    { controller: :lectures, action: :new, params: { course_id: @edit_course.id } },
    class: "btn btn-primary" %>

  <br>

  <!-- Tutorials -->
  <hr>
  <h2>Tutorials</h2>
  <table class="table">
    <thead>
      <tr>
        <th>Group Number</th>
        <th>Odd/Even</th>
        <th>Day</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Day (2nd Slot)</th>
        <th>Start Time (2nd Slot)</th>
        <th>End Time (2nd Slot)</th>
        <th>(Actions)</th>
    </thead>

    <tbody>
      <% if @edit_course.tutorials.empty? %>
        <tr><td colspan="9">There is no tutorial for this course.</td></tr>
      <% else %>
        <% @edit_course.tutorials.each do |tut| %>
          <tr>
            <td><%= tut.group_number %></td>
            <td>
              <% if tut.odd? %>
                Odd
              <% elsif tut.even? %>
                Even
              <% else %>
                Both
              <% end %>
            </td>
            <td><%= getDay(tut.day) %></td>
            <td><%= getHourAndMin(tut.start_time) %></td>
            <td><%= getHourAndMin(tut.end_time) %></td>

            <% if tut.has_second_tutorial? %>
              <td><%= getDay(tut.second_day) %></td>
              <td><%= getHourAndMin(tut.second_start_time) %></td>
              <td><%= getHourAndMin(tut.second_end_time) %></td>
            <% else %>
              <td colspan="3">[No 2nd slot]</td>
            <% end %>

            <td>
              <%= link_to 'Edit', edit_tutorial_path(tut), class: "btn btn-info" %>
              <%= link_to 'Remove', tut, class: "btn btn-danger" , method: :delete,
                data: { confirm: 'Are you sure? WARNING: All students in this tutorial slot will be dropped!' } %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>

  <%= link_to 'New Tutorial Time',
    { controller: :tutorials, action: :new, params: { course_id: @edit_course.id } },
    class: "btn btn-primary" %>
  <br>

  <hr>
  <br>
  <%= link_to 'Return to Courses List', courses_path, class: "btn btn-primary" %>
</div>
