<nav class="navbar navbar-full navbar-light bg-faded">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
		&#9776;
	</button>
	<%= link_to image_tag("logo.png", :size => "68x23", :alt => "CORS logo"), root_path %>

	<div class="pull-xs-right">
		<span class="user-id"><%= session[:user_matricNo] %></span>
		<%= link_to "Logout", {:controller => "sessions", :action => "destroy"}, :class => "btn btn-danger-outline" %>
	</div>

	<div class="clearfix"></div>

	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<ul class="nav navbar-nav">
			<li class="nav-item active"><%= link_to "Major & Minor", {:controller => "tutorials", :action => "view"}, :class => "nav-link" %></li>
			<li class="nav-item"><%= link_to "Modules", {:controller => "tutorials", :action => "select"}, :class => "nav-link" %></li>
			<li class="nav-item"><%= link_to "Tutorials", {:controller => "tutorials", :action => "rank"}, :class => "nav-link" %></li>
		</ul>
	</div>
</nav>