<nav id="banner" class="navbar navbar-full navbar-light bg-faded">
	<button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
		&#9776;
	</button>
	<%= link_to image_tag("logo.png", :size => "131x60", :alt => "CORS logo"), root_path %>

	<div class="pull-xs-right">
		<span class="user-id"><%= session[:user_matricNo] %></span>
		<%= link_to "Logout", {:controller => "sessions", :action => "destroy"}, :class => "btn btn-danger-outline" %>
	</div>

	<div class="clearfix"></div>

	<div class="collapse navbar-toggleable-xs" id="exCollapsingNavbar2">
		<ul class="nav navbar-nav">
			<li class="nav-item">
				<%= link_to "Major & Minor",
					{:controller => "tutorials", :action => "view"},
					:class => "nav-link",
					method: :get 
				%>
			</li>
			<li class="nav-item">
				<%= link_to "Modules",
					{:controller => "tutorials", :action => "view"},
					:class => "nav-link",
					method: :get
				%>
			</li>
			<li class="nav-item <%= 'active' if params[:controller] == "tutorials" %>">
				<%= link_to "Tutorials",
					{:controller => "tutorials", :action => "view"},
					:class => "nav-link",
					method: :get
				%>
			</li>

			<% if User.find_by(id: session[:user_id]).admin? %>
				<li class="nav-item <%= 'active' if params[:controller] == "admin" %>">
					<%= link_to "Admin",
						{:controller => "admin", :action => "index"},
						:class => "nav-link",
						method: :get
					%>
				</li>
			<% end %>
		</ul>
	</div>
</nav>
