<%= stylesheet_link_tag "header.css" %>

<div class="header">
    <div class="nav-links">
        <%= link_to "Major & Minor", {:controller => "admin"}, :class => "current" %> | 
        <%= link_to "Modules", {:controller => "admin"} %> |
        <%= link_to "Tutorials", {:controller => "admin"} %>
    </div>

    <%= link_to "Logout", {:controller => "admin"}, :class => "logout-button" %>
    <%= link_to image_tag("logo.png", :size => "68x23", :alt => "CORS logo"), {:controller => "admin"}, :class => "logo" %>
    <span class="user-id">#My Matric No</span>
</div>
