<table id="timetable">
	<thead>
		<tr>
			<th colspan="1"></th>
			<% for i in 8..23 do %>
				<th colspan="2"><div><%= i %></div></th>
			<% end %>
		</tr>
	</thead>

		<% [ "sun", "mon", "tue", "wed", "thu", "fri", "sat" ].each do |day| %>
		<tbody id="<%= day %>">
			<tr id="row-0" numofperiods="0">
				<th><div><%= day[0] %></div></th>
				<% for i in 8..23 do %>
					<td id="time-<%= i %>00"></td>
					<td id="time-<%= i %>30"></td>
				<% end %>
			</tr>
		</tbody>
		<% end %>
</table>
<%= javascript_include_tag 'timetable' %>
