<table id="timetable-preview">
	<thead>
		<tr>
			<th colspan="1"><div>0800</div></th>
			<% for i in 9..23 do %>
				<th colspan="2"><div><%= sprintf('%02d', i) %>00</div></th>
			<% end %>
			<th colspan="2"><div>0000</div></th>
		</tr>
	</thead>
	
	<tbody>
		<% @days = [ "mon", "tue", "wed", "thu", "fri" ] %>
		<% @days.each do |day| %>
			<tr>
				<th><div><%= day %></div></th>
				<% for i in 8..23 do %>
					<td id="<%= day %>_<%= i %>00"></td>
					<td id="<%= day %>_<%= i %>30"></td>
				<% end %>
			</tr>
		<% end %>
	</tbody>
</table>

<%= javascript_tag do %>

	(function( $ ){

		var $timetable = $( "#timetable-preview" );

		$timetable.addPeriod = function( startTime, duration, code, name, type ) {
			$timetable.find( "#" + startTime ).append(
				$( "<div/>" )
				.addClass( "period color-1 t" + duration )
				.append( $( "<div/>" ).text( code ) )
				.append( $( "<div/>" ).text( name ) )
				.append( $( "<div/>" ).text( type ) )
			);
			return this;
		};

		$timetable.removePeriod = function( startTime ) {
			$timetable.find( "#" + startTime ).empty();
			return this;
		};

		$timetable.removeAllPeriods = function() {
			return this;
		};




		// testing asd

		<% if @user != nil %>
			<% @user.tutorials.each do |tut| %>
				$timetable.addPeriod( 
					"<%= getDay(tut.day)[0..2].downcase %>_<%= getHourAndMinAsInt(tut.start_time) %>", 
					"<%= getHourAndMinAsInt(tut.end_time) - getHourAndMinAsInt(tut.start_time) %>", 
					"<%= tut.course.code %>", 
					"<%= tut.course.name %>", 
					"Tutorial" 
				);
			<% end %>
		<% end %>

	})( jQuery );

<% end %>