<!DOCTYPE html>
<html>

<head>
  <title>CORS
    <% if @title != nil %>
      <%= "- " + @title %>
    <% end %>
  </title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/banner' unless session[:user_id] == nil %>
  <%= yield %>
</body>

</html>
